.container {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 20px 0 30px;
  font-size: 28px;
  font-weight: 700;
}

.text {
  font-size: 18px;
  padding-bottom: 30px;
}

.button {
  font-size: 14px;
  width: 150px;
  height: 40px;
  border: 1px solid #bdbdbd;
  padding: 10px 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button__back {
  margin-top: 20px;
  width: 80px;
  height: 35px;
}

.container__order {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}
