.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 400px;
}

.title {
  padding: 20px 0 30px;
  font-size: 28px;
  font-weight: 700;
}

.button {
  align-self: flex-end;
  font-size: 14px;
  width: 150px;
  height: 40px;
  border: 1px solid #bdbdbd;
  padding: 10px 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button__back {
  margin-top: 20px;
  width: 80px;
  height: 35px;
}

.input {
  font-size: 14px;
  width: 400px;
  padding: 10px;
  border: 1px solid var(--background);
  border-radius: 8px;
  color: #212529;
  background-color: var(--main-color);
  background-clip: padding-box;
}

.input::placeholder {
  color: #212529;
  opacity: 0.4;
}
