.header {
  width: 100%;
  background-color: var(--background);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 20px 0;
  column-gap: 20px;
}

.link {
  border: 1px solid var(--main-text);
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: var(--link);
  transition: opacity 0.2s;
}

.links li:first-child {
  flex-grow: 1;
}

.link:hover {
  opacity: 0.6;
}

.logo {
  border: none;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(21, 231, 161);
  text-shadow: 2px 2px 1px var(--main-text);
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
}

.image {
  width: 20px;
  margin-right: 8px;
}

.input {
  font-size: 14px;
  width: 300px;
  padding: 10px;
  border: 1px solid var(--background);
  border-radius: 8px;
  color: #212529;
  background-color: var(--main-color);
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
}

.input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.button {
  font-size: 14px;
  border: 1px solid #bdbdbd;
  width: 155px;
  padding: 10px 5px;
  border: 1px solid var(--background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.price {
  padding: 0 3px;
}
